In [3]:
import pandas as pd
from statsmodels.datasets import get_rdataset

In [5]:
USArrests = get_rdataset('USArrests').data
print(USArrests.shape)
USArrests.head()

(50, 4)

            Murder  Assault  UrbanPop  Rape
rownames
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6